<div class="d-flex justify-content-between ">
    <div>
        <h1 class="mt-4">Create Job</h1>

    </div>

    <div class="d-flex justify-content-end align-items-center">
        <a href="dashboard" class="btn btn-secondary" style="margin-right: 10px;">Dashboard</a>
        <a href="users/logout" class="btn btn-secondary">Logout</a>
    </div>
</div>

<form>
    <fieldset>
    <div class="form-group">
        <label for="companyName" class="form-label mt-4">Company Name</label>
        <input type="" class="form-control" id="companyName" aria-describedby="companyNameHelp"
            placeholder="Enter Company Name">
        <small id="companyNameHelp" class="form-text text-muted">Enter the name of recruiter Company</small>
    </div>
    <div class="form-group">
        <label for="jobRole" class="form-label mt-4">Job Role</label>
        <input type="" class="form-control" id="jobRole" aria-describedby="jobRoleHelp"
            placeholder="Enter Job Role">
        <small id="jobRoleHelp" class="form-text text-muted">Enter the designation offered to the candidate</small>
    </div>
    <div class="form-group">
        <label for="skills" class="form-label mt-4">Skills Required</label>
        <textarea class="form-control" id="skills" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="jobType" class="form-label mt-4">Job Type</label>
        <select class="form-select" id="jobType">
            <option>Permanent</option>
            <option>Part-Time</option>
            <option>Internship</option>
        </select>
    </div>
    <div class="form-group">
        <label for="experience" class="form-label mt-4">Experience Required</label>
        <input type="email" class="form-control" id="experience" aria-describedby="experienceHelp"
            placeholder="Experience Required">
        <small id="experienceHelp" class="form-text text-muted">Enter the experience required for the role</small>
    </div>
    <!-- <input type="hidden" id="userId" name="userId" value=""> -->
    
    </fieldset>
</form>
